<h1><a href="/skateboards">Skateboards</a> | <a href="/brands">Brands</a></h1>


<h1><%= @brand.brand_name%> Skateboards</h1>

<% @skateboards.each do |skateboard| %>
  <h3><a href="/skateboards/<%= skateboard.id %>"><%= skateboard.board_name %></a></h3>
  <p>Cost:<%= skateboard.cost %></p>
  <p>Nose?:<%= skateboard.nose %></p>
  <p>Brand:<%= skateboard.brand_id %></p>

  <form action="/skateboards/<%= skateboard.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>

  <form action="/skateboards/<%= skateboard.id %>/edit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Update</button>
  </form>
<% end %>

<form action="/brands/<%= @brand.id %>/skateboards" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="order" value="alpha">
  <button type="submit">A-Z</button>
</form>

<form action="/brands/<%= @brand.id %>/skateboards" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="cost_index" value="over_20">
  <button type="submit">Over $20</button>
</form>
