<p><a href="/skateboards">Skateboards</a></p> | <p><a href="/brands">Brands</a></p>

<form action="/skateboards/<%= @skateboard.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <input type="hidden" name="_method" value="PATCH"/>
  <p>Edit</p>
  <input type='text' name='skateboard[board_name]' value="<%= @skateboard.board_name %>"/><br/>
  <input type='integer' name='skateboard[cost]' value="<%= @skateboard.cost %>"/><br/>
  <input type="boolean" name="skateboard[nose]" value="<%= @skateboard.nose %>"/><br/>
  <input type="integer" name="skateboard[brand_id]" value="<%= @skateboard.brand_id %>"/><br/>
  <input type='submit'/>
</form>
