<p><a href="/skateboards">Skateboards</a></p> | <p><a href="/brands">Brands</a></p>

<h1>Skateboards</h1>

<% @skateboards.each do |skateboard| %>
  <h3><a href="/skateboards/<%= skateboard.id %>"><%= skateboard.board_name %></a></h3>
  <p>Cost:<%= skateboard.cost %></p>
  <p>Nose?:<%= skateboard.nose %></p>
  <p>Brand:<%= skateboard.brand_id %></p>

  <a href="/skateboards/<%= skateboard.id %>/edit">Edit</a>

  <form action="/skateboards/<%= skateboard.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
