<h1><a href="/skateboards">Skateboards</a> | <a href="/brands">Brands</a></h1>

<h1>Skateboards</h1>

<% Skateboard.nose_filter.each do |skateboard| %>
  <h3><a href="/skateboards/<%= skateboard.id %>"><%= skateboard.board_name %></a></h3>
  <p>Cost:<%= skateboard.cost %></p>
  <p>Nose?:<%= skateboard.nose %></p>
  <p>Brand:<%= skateboard.brand_id %></p>

  <form action="/skateboards/<%= skateboard.id %>/edit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Update</button>
  </form>

  <form action="/skateboards/<%= skateboard.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>

<form action="/skateboards/new">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Add a skateboard</button>
</form>
