<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a> | <a href="/scotches/new">New Scotch</a>

<h2>Edit <%= @scotch.name %></h2>

<form action="/scotches/<%= @scotch.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <label for="Scotch Name">Scotch Name:</label>
    <input type="string" name="scotch[name]" value="<%= @scotch.name %>"/><br/>
  <label for="single_malt">Single Malt?</label>
    <input type="radio" id="true" name="scotch[single_malt]" value="<%= @scotch.single_malt %>"/>
    <label for="true">true</label>
    <input type="radio" id="false" name="scotch[single_malt]" value="<%= @scotch.single_malt %>"/>
    <label for="false">false</label>
<br/>
  <label for="year">Year:</label>
    <input type="number" name="scotch[year]" value="<%= @scotch.year %>"/><br><br>
  <input type="submit" value="Update">
</form>
