<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a>
<!-- | <a href="/scotches/new">New Scotch</a> -->

<h2>All Scotches</h2>
<% @scotches.each do |scotch| %>
<h3><a href="/scotches/<%= scotch.id %>"><%= scotch.name %></a></h3>
  <p>Single Malt?: <%= scotch.single_malt %><br>
  Year: <%= scotch.year %><br>
  Distillery: <%= scotch.distillery.name %><br>
  Updated: <%= scotch.updated_at %><br>
  Created: <%= scotch.created_at %></p>

  <a href="/scotches/<%= scotch.id %>/edit">Update <%= scotch.name %></a><br>
  <%= link_to "Delete", "/scotches/#{scotch.id}", :method => :delete %><br>
<% end %>
