<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a> | <a href="/scotches/new">New Scotch</a>

<h2><%= @scotch.name %></h2>

<p>Single Malt?: <%= @scotch.single_malt %><br>
Year: <%= @scotch.year %><br>
Created: <%= @scotch.created_at %><br>
Updated: <%= @scotch.updated_at %></p>

<a href="/scotches/<%= @scotch.id %>/edit">Update</a><br><br>

<form action="/scotches/<%= @scotch.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>
