<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a>

<h2>Edit <%= @distillery.name %></h2>
<%= form_with model: @distillery, url: "/distilleries/#{@distillery.id}", method: :patch, local: true do |f| %>
  <%= f.label :name, "Distillery Name:" %>
  <%= f.text_field :name, :placeholder => "#{@distillery.name}", :size => "30" %><br>
  <%= f.label :scotland_location, "Located in Scotland?" %><br>
  <%= f.check_box :scotland_location, :checked => true %>
  <br><%= f.label :established, "Established In:" %>
  <%= f.text_field :established, :placeholder => "#{@distillery.established}", :size => "4" %><br><br>
  <%= f.submit "Submit" %>
<% end %>
