<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a>

<h2>Edit <%= @distillery.name %></h2>

<form action="/distilleries/<%= @distillery.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <label for="Distillery Name">Distillery Name:</label>
    <input type="string" name="distillery[name]" value="<%= @distillery.name %>"/><br/>
  <label for="scotland_location">Located in Scotland?</label>
    <input type="radio" id="true" name="distillery[scotland_location]"value="<%= @distillery.scotland_location %>"/>
    <label for="true">true</label>
    <input type="radio" id="false" name="distillery[scotland_location]" value="<%= @distillery.scotland_location %>"/>
    <label for="false">false</label>
<br/>
  <label for="established">Established In:</label>
    <input type="number" name="distillery[established]" size="4" value="<%= @distillery.established %>"/><br><br>
  <input type="submit" value="Update">
</form>
