<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a>
<!-- | <a href="/scotches/new">New Scotch</a> -->

<h2>New Distillery</h2>

<%= form_with url: "/distilleries", method: :post, local: true do |f| %>
  <%= f.label :name, "Distillery Name:" %>
  <%= f.text_field :name, :size => "30" %><br>
  <%= f.label :scotland_location, "Located in Scotland?" %>
  <%= f.check_box :scotland_location %><br>
  <%= f.label :established, "Year Established:" %>
  <%= f.text_field :established %><br><br>
  <%= f.submit "Create Distillery" %>
<% end %>
