<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a> | <a href="/distilleries/<%= @distillery.id %>/scotches/new">New Scotch</a><br>

<!-- | <a href="/scotches/new">New Scotch</a> -->

<h2><%= @distillery.name %></h2>

<p>Located in Scotland?: <%= @distillery.scotland_location %><br>
Established: <%= @distillery.established %><br>
Created: <%= @distillery.created_at %><br>
Updated: <%= @distillery.updated_at %></p>
Number of scotches: <%= @distillery.scotches.count %><br><br>
<a href="/distilleries/<%= @distillery.id %>/scotches/">All Scotches from <%= @distillery.name %></a><br><br>
<a href="/distilleries/<%= @distillery.id %>/edit">Update <%= @distillery.name %></a><br>
<%= link_to "Delete", "/distilleries/#{@distillery.id}", :method => :delete %><br>
<a href="/distilleries">Return to Distilleries homepage</a>
