<h2><a href="/distilleries">Distillery</a></h2>
<!-- returns to all distilleries -->
<h2><%= @distillery.name %></h2>
<p><%= @distillery.scotland_location %></p>
<p><%= @distillery.established %></p>
<p><%= @distillery.created_at %></p>
<p><%= @distillery.updated_at' %></p>

<a href="/distilleries/<%= @distillery.id %>/edit">Update/Edit</a>
<!-- add links to return to previous pages -->
