<h1><a href="/skateboards">Skateboards</a> | <a href="/brands">Brands</a></h1>

<h1>Brands</h1>

<% @brands.each do |brand| %>
  <h3><a href="/brands/<%= brand.id %>"><%= brand.brand_name %></a></h3>
  <p>Year Est:<%= brand.established %></p>
  <p>Gnarly?:<%= brand.gnarly %></p>
  <p>Created at:<%= brand.created_at %></p>
  <form action="/brands/<%= brand.id %>/edit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Update</button>
  </form>
  <form action="/brands/<%= brand.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>
<% end %>

<form action="/brands/new">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Add a brand</button>
</form>
