<h1><a href="/skateboards">Skateboards</a> | <a href="/brands">Brands</a></h1>

<h3><%= @brand.brand_name %></h3>
<p>Year Est:<%= @brand.established %></p>
<p>Gnarly?:<%= @brand.gnarly %></p>
<p>No. of Skateboards<%= @brand.num_of_skateboards %></p>

<form action="/brands/<%= @brand.id %>/edit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">Update</button>
</form>

<form action="/brands/<%= @brand.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete</button>
</form>

<form action="/brands/<%= @brand.id %>/skateboards">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit"><%= @brand.brand_name %> Skateboards</button>
</form>
