<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a>
<!-- | <a href="/scotches/new">New Scotch</a> -->

<h2>New Scotch</h2>
<%= form_with url: "/distilleries/#{@distillery.id}/scotches", method: :post, local: true do |f| %>
  <%= f.label :name, "Scotch Name:" %>
  <%= f.text_field :name, :placeholder => "Ex: Glenmorangie 10 year", :size => "30" %><br>
  <%= f.label :single_malt, "Single Malt?" %>
  <%= f.check_box :single_malt %><br>
  <%= f.label :year, "Year:" %>
  <%= f.text_field :year %><br>
  <%= f.hidden_field :distillery_id, :value => @distillery.id %><br><br>
  <%= f.submit "Create Scotch" %>
<% end %>
